html body{ 
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 16px;
    width: 800px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    
}

.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


.rodape{
    position: absolute;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 50px;
    bottom: 0;
}

th{
    padding:3px;
    font:bold 12px verdana;
}

td
{
    padding:3px;
    font:11px verdana;
}
